@charset "utf-8";
/* CSS Document */
/*


GRIS BASE:	#3a3a3a;
VISTA ALUMNO

Naranja:	#ff9000;

VISTA PADRE

Verde:	#02dc02;

VISTA TUTOR

Azul:	#04b7f9;


*/

.fondo_naranja {
	background-color: #ff9000;
}


.fondo_verde {
	background-color: #02dc02;
}

.fondo_azul {
	background-color: #04b7f9;
}

body {
	padding: 0px;
	margin:0px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #3a3a3a;
	background-image:url(../img/alumno/fondo.gif);
	background-position: top center;
	background-repeat:no-repeat;
}

#container {
	width: 1024px;
	height: 768px;
	margin: 0 auto;
}

#header {
	width: 1024px;
	height: 93px;
	float:left;
	position: relative;
	border-bottom: 1px solid #ff9000;
	background-color: #3a3a3a;
	
}

#nombre {
	width: 931px;
	height: 20px;
	float:left;
}

#nombre h3 {
	text-align:right;
	color: #fff;
	font-size: 13px;
	line-height: 20px;
}

#nombre h3 span {
	text-align:right;
	color: #000;
	font-size: 13px;
	line-height: 20px;
}

#foto_perfil {
	width: 93px;
	height: 94px;
	position: absolute;
	top: 0px;
	right:0px;	
}

#logo {
	width: 347px;
	height: 72px;
	float:left;
	margin: 0px 0px  0px 10px;	
}

#buscador {
	width: 268px;
	height: 62px;
	float:left;
	line-height: 62px;
}


#buscador_alu input  {
	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Google Chrome y Safari */
	border-radius: 10px; /* CSS3 (Opera 10.5, IE 9 y est&aacute;ndar a ser soportado por todos los futuros navegadores) */
	width: 225px;
	height: 35px;
	border: 8px solid #ff9000;
	background-color: #fff;	
	font-family: Dosis, Arial, serif;
	font-weight: 400;
	font-size: 17px;
	padding: 0px 5px;
	margin: 10px 5px;
}

#buscador_pad input  {
	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Google Chrome y Safari */
	border-radius: 10px; /* CSS3 (Opera 10.5, IE 9 y est&aacute;ndar a ser soportado por todos los futuros navegadores) */
	width: 225px;
	height: 35px;
	border: 8px solid #167300;
	background-color: #fff;	
	font-family: Dosis, Arial, serif;
	font-weight: 400;
	font-size: 17px;
	padding: 0px 5px;
	margin: 5px;
}

#buscador_alu input:hover, #buscador_alu input:focus, #buscador_pad input:hover, #buscador_pad input:focus  {
	background-color: #d3d3d3;	
	outline:0px;	
}

#lupa input[type="submit"] {
	position:absolute;
	top: 38px;
	right: 418px;
	width: 35px;
	height: 35px;
	background-image:url(../img/lupa.png);
	background-color: #fff;
	outline:0px;
	border: 0px solid blue;
}


.separador {
	width: 2px;
	height: 72px;
	float:left;
	background-image:url(../img/separador.gif);
}

.btn_perfil {
	width: 100px;
	height: 72px;
	float:left;
	line-height: 95px;
	position: relative;
	font:Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #fff;
	text-align:center;
}

.btn_perfil img {
	width: 55px;
	height: 30px;
	position:absolute;
	top: 10px;
	left: 23px;
}

.btn_perfil a {
	width: 100px;
	height: 72px;
	display:block;
	font:Verdana, Geneva, sans-serif;
	color: #fff;
	text-decoration:none;
}

.btn_perfil a:hover, .btn_perfil a:active  {
	width: 100px;
	height: 72px;
	display:block;
	font:Verdana, Geneva, sans-serif;
	color:#ff0;
	background-color:rgba(0,0,0,0.5);
}


/* ################# CENTRAL ###################### */

#central {
	background: #fff;
	float:left;
	min-height: 400px;
	width: 100%;
	padding-top: 20px;
	position: relative;
}

#lateral_nav {
	width: 149px;
	height: 500px;	
	float:left;	
}



#lateral_nav_aprender, #lateral_nav_mi_locker, #lateral_nav_baul, #lateral_nav_biblioteca {
	width:149px;
	height: 58px;
	float:left;
}

#lateral_nav_aprender a, #lateral_nav_aprender a:visited {
	width:149px;
	height: 58px;
	display:block;
	background-image:url(../img/alumno/lateral_nav.gif);
	background-position: center 0px;
}

#lateral_nav_aprender a:hover, #lateral_nav_aprender a:active, #lateral_nav_aprender span {
	width:149px;
	height: 94px;
	display:block;
	background-image:url(../img/alumno/lateral_nav.gif);
	background-position: center -58px;
}

#lateral_nav_mi_locker a, #lateral_nav_mi_locker a:visited {
	width:149px;
	height: 58px;
	display:block;
	background-image:url(../img/alumno/lateral_nav.gif);
	background-position: center -116px;
}

#lateral_nav_mi_locker a:hover, #lateral_nav_mi_locker a:active, #lateral_nav_mi_locker span {
	width:149px;
	height: 58px;
	display:block;
	background-image:url(../img/alumno/lateral_nav.gif);
	background-position: center -174px;
}

#lateral_nav_baul a, #lateral_nav_baul a:visited {
	width:149px;
	height: 58px;
	display:block;
	background-image:url(../img/alumno/lateral_nav.gif);
	background-position: center -232px;
}

#lateral_nav_baul a:hover, #lateral_nav_baul a:active, #lateral_nav_baul span {
	width:149px;
	height: 58px;
	display:block;
	background-image:url(../img/alumno/lateral_nav.gif);
	background-position: center -290px;
}

#lateral_nav_biblioteca a, #lateral_nav_biblioteca a:visited {
	width:149px;
	height: 58px;
	display:block;
	background-image:url(../img/alumno/lateral_nav.gif);
	background-position: center -348px;
}

#lateral_nav_biblioteca a:hover, #lateral_nav_biblioteca a:active, #lateral_nav_biblioteca span {
	width:149px;
	height: 58px;
	display:block;
	background-image:url(../img/alumno/lateral_nav.gif);
	background-position: center -406px;
}

#destacado {
	width: 153px;
	height: 486px;
	float:right;
}



.modulo_izq {
	width: 280px;
	height: 240px;
	float:left;
	margin: 0px 20px 20px 40px;
	position:relative;
}

.modulo_decha {
	width: 280px;
	height: 240px;
	float:left;
	margin: 0px 40px 20px 20px;
	position:relative;
}

#modulo_letras a, #modulo_letras a:visited {
	width: 280px;
	height: 240px;
	display:block;
	background-image:url(../img/alumno/modulos_fondo.gif);
	background-position: center 0px;

}

#modulo_letras a:hover, #modulo_letras a:active {
	width: 280px;
	height: 240px;
	display:block;
	background-image:url(../img/alumno/modulos_fondo.gif);
	background-position: center -240px;
}


#modulo_mates a, #modulo_mates a:visited {
	width: 280px;
	height: 240px;
	display:block;
	background-image:url(../img/alumno/modulos_fondo.gif);
	background-position: center -480px;
}

#modulo_mates a:hover, #modulo_mates a:active {
	width: 280px;
	height: 240px;
	display:block;
	background-image:url(../img/alumno/modulos_fondo.gif);
	background-position: center -720px;
}



#modulo_ciencias a, #modulo_ciencias a:visited {
	width: 280px;
	height: 240px;
	display:block;
	background-image:url(../img/alumno/modulos_fondo.gif);
	background-position: center -960px;
}

#modulo_ciencias a:hover, #modulo_ciencias a:active {
	width: 280px;
	height: 240px;
	display:block;
	background-image:url(../img/alumno/modulos_fondo.gif);
	background-position: center -1200px;
}

#modulo_artes a, #modulo_artes a:visited {
	width: 280px;
	height: 240px;
	display:block;
	background-image:url(../img/alumno/modulos_fondo.gif);
	background-position: center -1440px;
}

#modulo_artes a:hover, #modulo_artes a:active {
	width: 280px;
	height: 240px;
	display:block;
	background-image:url(../img/alumno/modulos_fondo.gif);
	background-position: center -1680px;
}


.puntuacion {
	width: 95px;
	height: 30px;
	float:left;
	z-index: 3000;
	position:relative;
	visibility:hidden;
}

.estrella {
	width:21px;
	height: 20px;
	float:left;
	margin: 10px 5px;
}

.estrella a, .estrella a:visited {
	width:21px;
	height: 20px;
	display:block;
	background-image:url(../img/estrella.png);
	background-repeat: no-repeat;
	background-position: 0px -20px;
}

.estrella a:hover, .estrella a:active  {
		width:21px;
	height: 20px;
	display:block;
	background-image:url(../img/estrella.png);
	background-position: 0px 0px;

}

.txt {
	width:280px;
	height: 50px;
	line-height: 50px;
	font-family: 'Dosis', Arial, serif;
	font-size: 20px;
	font-weight: 500;
	text-align:center;
	color:#fff;
	position:absolute;
	top: 185px;
	left: 0px;	
}

#contenido_a_mostrar_mates, #contenido_a_mostrar_ciencias, #contenido_a_mostrar_letras, #contenido_a_mostrar_artes {
	width:259px;
	height:240px;
	position:absolute;
	top: 0px;
	left: 247px;
	z-index: 4000;	
}


.contenido_enlace {
	width:190px;
	height:53px;
	display:block;
	position:absolute;
	top: 175px;
	left: 50px;
}

.contenido_enlace a {
	width:190px;
	height:53px;
	display:block;
}

/* ########################## PERFIL ########################## */

#alumno_contenido {
	width: 597px;
	height: 460px;
	float: left;
	margin: 0px 40px;
	background-color: #ff9000;
		-moz-border-radius: 8px; /* Firefox */
	-webkit-border-radius: 8px; /* Google Chrome y Safari */
	border-radius: 8px; /* CSS3 (Opera 10.5, IE 9 y est&aacute;ndar a ser soportado por todos los futuros navegadores) */
		position:relative;
}

#alumno_contenido h2 {
	font-family: 'Dosis', Arial, serif;
	font-weight: 500;
	font-size: 22px;
	width: 100%;
	height: 60px;
	line-height: 60px;
	padding: 0px 30px 0px;
	color: #fff;
	position:relative;
}

#alumno_contenido h2 img {
	position:absolute;
	top: 0px;
	right: 250px;
}

#alumno_bloque {
	width: 825px;
	height: 430px;
	float: left;
	margin: 0px 10px 0px 40px;
	background-color: #347ff2;
		-moz-border-radius: 8px; /* Firefox */
	-webkit-border-radius: 8px; /* Google Chrome y Safari */
	border-radius: 8px; /* CSS3 (Opera 10.5, IE 9 y est&aacute;ndar a ser soportado por todos los futuros navegadores) */
}

#alumno_bloque h2 {
	font-family: 'Dosis', Arial, serif;
	font-weight: 500;
	font-size: 22px;
	width: 100%;
	height: 60px;
	line-height: 60px;
	padding: 0px 30px 0px;
	color: #fff;
	position:relative;
}

#alumno_bloque_control {
	width: 773px;
	height: 121px;
	float: left;
	position: relative;
}

#alumno_bloque_control h3 {
	font-family: 'Dosis', Arial, serif;
	font-weight: 500;
	font-size: 38px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	padding: 0px 30px 0px;
	color: #347ff2;
}



#alumno_sinopsis {
	width: 597px;
	height: 460px;
	float: left;
	margin: 0px 40px;
	background-color: #6b6b6b;
		-moz-border-radius: 8px; /* Firefox */
	-webkit-border-radius: 8px; /* Google Chrome y Safari */
	border-radius: 8px; /* CSS3 (Opera 10.5, IE 9 y est&aacute;ndar a ser soportado por todos los futuros navegadores) */
		position:relative;
}

#alumno_sinopsis h2 {
	font-family: 'Dosis', Arial, serif;
	font-weight: 500;
	font-size: 22px;
	width: 100%;
	height: 60px;
	line-height: 60px;
	padding: 0px 30px 0px;
	color: #fff;
	position:relative;
}

.contenido {
	width: 560px;
	height: 240px;
	float: left;
	-moz-border-radius: 8px; /* Firefox */
	-webkit-border-radius: 8px; /* Google Chrome y Safari */
	border-radius: 8px; /* CSS3 (Opera 10.5, IE 9 y est&aacute;ndar a ser soportado por todos los futuros navegadores) */
	background-color: #fff;
	margin: 0px 17px;	
}

.contenido_subida {
	width: 560px;
	height: 240px;
	float: left;
	-moz-border-radius: 8px; /* Firefox */
	-webkit-border-radius: 8px; /* Google Chrome y Safari */
	border-radius: 8px; /* CSS3 (Opera 10.5, IE 9 y est&aacute;ndar a ser soportado por todos los futuros navegadores) */
	background-color: #fff;
	background-image:url(../img/alumno/locker/foto_muestra.jpg);
	margin: 0px 17px;	
}

.contenido_subida_enlace {
	width: 560px;
	height: 40px;
	float: left;
	text-align: center;
	margin-top: 200px;	
}

.contenido_subida_enlace a {
	font-family: 'Dosis', Arial, serif;
	font-weight: bold;
	font-size: 18px;
	color: #3a3a3a;
}

.contenido_largo {
	width: 790px;
	height: 340px;
	float: left;
	-moz-border-radius: 8px; /* Firefox */
	-webkit-border-radius: 8px; /* Google Chrome y Safari */
	border-radius: 8px; /* CSS3 (Opera 10.5, IE 9 y est&aacute;ndar a ser soportado por todos los futuros navegadores) */
	background-color: #fff;
	margin: 0px 17px;
}


#foto_mi_perfil {
	width: 160px;
	height: 200px;
	float:left;
	padding: 20px 25px;
}

#datos_mi_perfil {
	width: 280px;
	height: 180px;
	float:left;
	font-family: 'Dosis', Arial, serif;
	font-weight: 500;
	font-size: 18px;
		padding: 20px 0px 0px;
}

#datos_mi_perfil strong {
	color: #ff9000;
	
}

#btn_int {
	width: 95%;
	height: 100px;
	float:left;
	margin: 20px 12px 10px;
}

#btn_int_regresar, #btn_int_capturar, #btn_int_editar, #btn_int_subir, #btn_int_subir_dibu, #btn_int_crear_dibu   {
	width: 175px;
	height: 98px;
	float: left;
	margin: 7px;	
}

#btn_int_regresar a, #btn_int_regresar a:visited {
	width: 175px;
	height: 98px;
	display:block;
	background-image:url(../img/alumno/btn_interno.png);
	background-position: center -0px;
}

#btn_int_regresar a:hover, #btn_int_regresar a:active {
	width: 175px;
	height: 98px;
	display:block;
	background-image:url(../img/alumno/btn_interno.png);
	background-position: center -98px;
}

#btn_int_capturar a, #btn_int_capturar a:visited {
	width: 175px;
	height: 98px;
	display:block;
	background-image:url(../img/alumno/btn_interno.png);
	background-position: center -196px;
}

#btn_int_capturar a:hover, #btn_int_capturar a:active {
	width: 175px;
	height: 98px;
	display:block;
	background-image:url(../img/alumno/btn_interno.png);
	background-position: center -294px;
}

#btn_int_editar a, #btn_int_editar a:visited {
	width: 175px;
	height: 98px;
	display:block;
	background-image:url(../img/alumno/btn_interno.png);
	background-position: center -392px;
}

#btn_int_editar a:hover, #btn_int_editar a:active {
	width: 175px;
	height: 98px;
	display:block;
	background-image:url(../img/alumno/btn_interno.png);
	background-position: center -490px;
}

#btn_int_subir a, #btn_int_subir a:visited {
	width: 175px;
	height: 98px;
	display:block;
	background-image:url(../img/alumno/btn_interno.png);
	background-position: center -588px;
}

#btn_int_subir a:hover, #btn_int_subir a:active {
	width: 175px;
	height: 98px;
	display:block;
	background-image:url(../img/alumno/btn_interno.png);
	background-position: center -686px;
}

#btn_int_subir_dibu a, #btn_int_subir_dibu a:visited {
	width: 175px;
	height: 98px;
	display:block;
	background-image:url(../img/alumno/btn_interno.png);
	background-position: center -784px;
}

#btn_int_subir_dibu a:hover, #btn_int_subir_dibu a:active {
	width: 175px;
	height: 98px;
	display:block;
	background-image:url(../img/alumno/btn_interno.png);
	background-position: center -882px;
}

#btn_int_crear_dibu a, #btn_int_crear_dibu a:visited {
	width: 175px;
	height: 98px;
	display:block;
	background-image:url(../img/alumno/btn_interno.png);
	background-position: center -980px;
}

#btn_int_crear_dibu a:hover, #btn_int_crear_dibu a:active {
	width: 175px;
	height: 98px;
	display:block;
	background-image:url(../img/alumno/btn_interno.png);
	background-position: center -1078px;
}

#btn_guardar {
	width: 175px;
	height: 98px;
	position:absolute;
	top: 300px;
	right:200px;
		color: #fff;
		font-size: 22px;
}

#btn_guardar a{
	color: #fff;
}
/* ########################## BAUL ########################## */


#baul {
	width: 825px;
	float: left;
	margin-left: 40px;
}

#baul_nav {
	width: 825px;
	height: 33px;
	float: left;
}

#baul_nav ul {
	float: right;
	border: 2px solid #ff9000;
	-moz-border-radius: 8px; /* Firefox */
	-webkit-border-radius: 8px; /* Google Chrome y Safari */
	border-radius: 8px; /* CSS3 (Opera 10.5, IE 9 y est&aacute;ndar a ser soportado por todos los futuros navegadores) */
}

#baul_nav ul li {
	float: left;
}

#baul_nav ul li a {
	text-decoration:none;
	display:block;
	font-size: 19px;
	font-weight: bold;
	padding: 5px;
	color: #3a3a3a;
}

#baul_nav ul li a:hover, #baul_nav ul li a:active, #baul_nav ul li span {
	text-decoration:none;
	display:block;
	font-size: 19px;
	font-weight: bold;
	padding: 5px;
	color: #fff;
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Google Chrome y Safari */
	border-radius: 5px; /* CSS3 (Opera 10.5, IE 9 y est&aacute;ndar a ser soportado por todos los futuros navegadores) */
	background-color: #ff9000;
}

#baul_tab {
	width: 825px;
	height: 480px;
	float: left;
	margin: 0px;
}

.puntuacion_baul {
	width: 95px;
	height: 50px;
	margin-top: 80px;
	float:left;
	z-index: 3000;
	position:relative;
	visibility:hidden;
}

#baul_letras {
	width: 825px;
	height: 116px;
	float: left;
	margin-bottom: 5px;
	background-image:url(../img/alumno/baul/letras_fondo.gif);
}

#baul_mates {
	width: 825px;
	height: 116px;
	float: left;
	margin-bottom: 5px;
	background-image:url(../img/alumno/baul/mates_fondo.gif);
}

#baul_ciencias {
	width: 825px;
	height: 116px;
	float: left;
		margin-bottom: 5px;
	background-image:url(../img/alumno/baul/ciencias_fondo.gif);
}

#baul_artes {
	width: 825px;
	height: 116px;
	float: left;
	margin-bottom: 5px;
	background-image:url(../img/alumno/baul/artes_fondo.gif);
}

.item_on {
	width: 98px;
	height: 98px;
	float: left;
	padding: 10px;
}

.item_off {
	width: 98px;
	height: 98px;
	float: left;
	padding: 10px;
	filter: alpha(opacity=20);
	opacity: 0.2;
}

/* ########################## MI LOCKER ########################## */


#locker {
	width: 825px;
	height: 500px;
	float: left;
	margin-left: 40px;
	padding: 0px 0px 0px 6px;
	background-image:url(../img/alumno/locker/locker_fondo.gif);
	background-repeat:no-repeat;
}

.caja_larga {
	width: 195px;
	height: 438px;
	float: left;
	margin: 0px 4px;
	padding-top: 10px;
	position: relative;
}

.caja_corta {
	width: 195px;
	height: 210px;
	float: left;
	padding-top: 10px;
	position: relative;
}

.nota_impar {
	width: 158px;
	height: 65px;
	float: left;
	margin: 5px 10px;
	font-size: 14px;
	padding: 10px 5px;
	background-color: #f5fb4d;
	border:1px solid #88896d;
	position: relative;
}

.nota_par {
	width: 158px;
	height: 65px;
	float: left;
	margin: 5px 10px;
	font-size: 14px;
	padding: 10px 5px;
	background-color: #75fcd4;
	border:1px solid #88896d;
	position: relative;
}

.nota_par div, .nota_impar div {
	width: 40px;
	height: 12px;
	background-color: #fff;
	position: absolute;
	top: -6px;
	right: 65px;
	filter: alpha(opacity=60);
	opacity: 0.6;
}

.nota_par span, .nota_impar span {
	width: 40px;
	height: 12px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 11px;
	padding: 5px;
	text-align: right;
}

.locker_titulo {
	width: 60px;
	height: 16px;
	line-height: 16px;
	text-align:center;
	padding: 5px;
	background-color: #ff9000;
	border:3px solid #fff;
	-moz-border-radius: 8px; /* Firefox */
	-webkit-border-radius: 8px; /* Google Chrome y Safari */
	border-radius: 8px; /* CSS3 (Opera 10.5, IE 9 y est&aacute;ndar a ser soportado por todos los futuros navegadores) */
	position: absolute;
	bottom: 0px;
	left: 5px;
}

.locker_titulo a {
	color: #fff;
	font-family: 'Dosis', Arial, serif;
	font-weight: 500;
	font-size: 17px;
}

#crear_icono {
	width: 131px;
	height: 134px;
	position:absolute;
	bottom: 0px;
	right: 0px;
}

.cont_fotos {
	width: 180px;
	height: 170px;
	margin: 5px 0px 0px 10px;
	float: left;
}
.locker_foto {
	width: 43px;
	height: 28px;
	padding: 3px;
	background-color: #fff;
	float: left;
	margin: 4px;
}

.cont_libros {
	width: 180px;
	height: 380px;
	margin: 5px 0px 0px 6px;
	float: left;
}

.locker_libro_a {
	width: 165px;
	height: 18px;
	line-height: 18px;
	padding: 3px;
	background-color: #94294a;
	float: left;
	margin: 1px;
	border: 2px solid #811838;
	color: #fff;
}

.locker_libro_b {
	width: 165px;
	height: 18px;
	line-height: 18px;
	padding: 3px;
	background-color: #a2840d;
	float: left;
	margin: 1px;
	border: 2px solid #79640f;
	color: #fff;
}

.locker_libro_c {
	width: 165px;
	height: 18px;
	line-height: 18px;
	padding: 3px;
	background-color: #0d6fa2;
	float: left;
	margin: 1px;
	border: 2px solid #16587a;

}

.locker_libro_a a, .locker_libro_b a, .locker_libro_c a  {
	text-decoration:none;
	display:block;
	color: #fff;
}

.foto_grande {
	width: 95px;
	height: 62px;
	padding: 2px 3px;
	background-color: #bfbfbf;
	float: left;
	margin: 4px;
}

/* ########################## BIBLIOTECA ########################## */


#biblioteca {
	width: 821px;
	height: 503px;
	float: left;
	margin-left: 40px;
	/*background-image:url(../img/alumno/biblioteca/bliblio_fondo.gif);*/
}
	
#nav_biblio {
	width: 210px;
	background-color: #6b6b6b;
	-moz-border-radius: 8px; /* Firefox */
	-webkit-border-radius: 8px; /* Google Chrome y Safari */
	border-radius: 8px; /* CSS3 (Opera 10.5, IE 9 y est&aacute;ndar a ser soportado por todos los futuros navegadores) */
	margin: 0px 10px 10px 20px;	
	float:left;
}

#nav_biblio ul {
	margin: 0px;
}

#nav_biblio ul li {
	font-family: Dosis, Arial, serif;
	font-weight: 500;
	height: 35px;
	font-size: 20px;
	border-bottom: 2px solid #fff;
}

#nav_biblio ul li:last-child {
	border-bottom: 0px solid #fff;
}

#nav_biblio ul li a {
	color: #fff;
	text-decoration: none;
		height: 25px;
	display: block;
	padding: 5px 10px;
}

#nav_biblio ul li:first-child a:hover, #nav_biblio ul li:first-child a:active {
	color: #fff;
	text-decoration: none;
	display: block;
	background-color: #ff9000;
	-moz-border-top-left-radius: 8px; /* Firefox */
	-webkit-border-top-left-radius: 8px; /* Google Chrome y Safari */
	border-top-left-radius: 10px; /* CSS3 (Opera 10.5, IE 9 y est&aacute;ndar a ser soportado por todos los futuros navegadores) */
	
	-moz-border-top-right-radius: 8px; /* Firefox */
	-webkit-border-top-right-radius: 8px; /* Google Chrome y Safari */
	border-top-right-radius: 8px; /* CSS3 (Opera 10.5, IE 9 y est&aacute;ndar a ser soportado por todos los futuros navegadores) */
}


#nav_biblio ul li:last-child a:hover, #nav_biblio ul li:first-child a:active {
	color: #fff;
	text-decoration: none;
	display: block;
	background-color: #ff9000;
	-moz-border-bottom-left-radius: 8px; /* Firefox */
	-webkit-border-bottom-left-radius: 8px; /* Google Chrome y Safari */
	border-bottom-left-radius: 8px; /* CSS3 (Opera 10.5, IE 9 y est&aacute;ndar a ser soportado por todos los futuros navegadores) */
	
	-moz-border-bottom-right-radius: 8px; /* Firefox */
	-webkit-border-bottom-right-radius: 8px; /* Google Chrome y Safari */
	border-bottom-right-radius: 8px; /* CSS3 (Opera 10.5, IE 9 y est&aacute;ndar a ser soportado por todos los futuros navegadores) */
}

#nav_biblio ul li a:hover {
	color: #fff;
	text-decoration: none;
	display: block;
	background-color: #ff9000;
}

#destacados_biblio {
	width: 500px;
	height: 250px;
	float:left;
	margin: 0px 0px 0px 50px;
}

#carrusel_biblio {
	width: 800px;
	height: 250px;
	float:left;
	margin: 5px 0px 0px 40px;
}

.libro_a {
	width: 230px;
	height: 245px;
	float:left;
	margin: 0px 5px;
	border: 2px solid #6b6b6b;
	-moz-border-radius: 8px; /* Firefox */
	-webkit-border-radius: 8px; /* Google Chrome y Safari */
	border-radius: 8px; /* CSS3 (Opera 10.5, IE 9 y est&aacute;ndar a ser soportado por todos los futuros navegadores) */
	position: relative;
}

.libro_b {
	width: 178px;
	height: 245px;
	float:left;
	margin: 0px 3px;
	border: 2px solid #6b6b6b;
	-moz-border-radius: 8px; /* Firefox */
	-webkit-border-radius: 8px; /* Google Chrome y Safari */
	border-radius: 8px; /* CSS3 (Opera 10.5, IE 9 y est&aacute;ndar a ser soportado por todos los futuros navegadores) */
	position: relative;
}

.libro_enlace a {
	position:absolute;
	width: 24px;
	height: 24px;
	background-image:url(../img/alumno/biblioteca/mas.gif);
	top: 5px;
	right: 10px;
	z-index: 3500;
}

.libro_sup {
	width: 100%;
	height: 20px;
	float:left;
	font-size:15px;
	font-weight: bold;
	color: #ff9000;
}

.libro_a_foto {
	width: 100%;
	height: 128px;
	float:left;
	position: relative;
}

.libro_a_foto img {
	width: 141px;
	height: 128px;
	position: absolute;
	top: 0px;
	left: 45px;
}

.libro_b_foto {
	width: 100%;
	height: 128px;
	float:left;
	position: relative;
}

.libro_b_foto img {
	width: 141px;
	height: 128px;
	position: absolute;
	top: 0px;
	left: 20px;
}

.libro_a_titulo {
	width: 100%;
	height: 48px;
	float:left;
	background-color: #ff9000;
}

.libro_b_titulo {
	width: 100%;
	height: 46px;
	float:left;
	border-top: 1px solid #6b6b6b;
		border-bottom: 1px solid #6b6b6b;
}

.libro_a_titulo h3 {
	padding: 5px;
	color: #fff;
	font-size: 15px;
	font-weight:bold;
}

.libro_a_titulo h3 a {
	color: #fff;
}

.libro_b_titulo h3 {
	padding: 5px;
	color: #6b6b6b;
	font-size: 15px;
	font-weight:bold;
}

.libro_b_titulo h3 a {
	color: #6b6b6b;
}
.libro_autor {
	width: 230px;
	height: 24px;
	float:left;
}

.libro_inf {
	width: 100%;
	height: 25px;
	float:left;
	z-index: 3000;
	position:relative;
	background-color: #6b6b6b;
		-moz-border-bottom-left-radius: 5px; /* Firefox */
	-webkit-border-bottom-left-radius: 5px; /* Google Chrome y Safari */
	border-bottom-left-radius: 5px; /* CSS3 (Opera 10.5, IE 9 y est&aacute;ndar a ser soportado por todos los futuros navegadores) */
	
	-moz-border-bottom-right-radius: 5px; /* Firefox */
	-webkit-border-bottom-right-radius: 5px; /* Google Chrome y Safari */
	border-bottom-right-radius: 5px; /* CSS3 (Opera 10.5, IE 9 y est&aacute;ndar a ser soportado por todos los futuros navegadores) */
}



.estrellax {
	width:21px;
	height: 20px;
	float:left;
	margin: 0px 5px;
	visibility:hidden;
}

.estrellax a, .estrellax a:visited {
	width:21px;
	height: 20px;
	display:block;
	background-image:url(../img/estrella.png);
	background-repeat: no-repeat;
	background-position: 0px -20px;
}

.estrellax a:hover, .estrellax a:active  {
		width:21px;
	height: 20px;
	display:block;
	background-image:url(../img/estrella.png);
	background-position: 0px 0px;

}

.foto_libro_lateral {
	width: 184px;
	height: 230px;
	float:left;
}

.libro_txt {
	width: 350px;
	height: 230px;
	float:left;
}

.libro_txt p {
	margin: 5px 0px;
	font-size: 14px;
	line-height: 130%;
}

.libro_txt h1 {
	width: 350px;
	height: 30px;
	line-height: 30px;
	float:left;
	font-size:18px;
	font-weight:bold;
}
/* ########################## MAPA ########################## */
#alumno_mapa {
	width: 760px;
	height: 430px;
	float: left;
	margin: 0px 10px 0px 40px;
	background-color: #fff;
	-moz-border-radius: 8px; /* Firefox */
	-webkit-border-radius: 8px; /* Google Chrome y Safari */
	border-radius: 8px; /* CSS3 (Opera 10.5, IE 9 y est&aacute;ndar a ser soportado por todos los futuros navegadores) */
	border: 3px solid #ff9000;
	position:relative;
}

#alumno_mapa h2 {
	font-family: 'Dosis', Arial, serif;
	font-weight: 500;
	font-size: 22px;
	width: 30%;
	height: 60px;
	line-height: 60px;
	padding: 0px 30px 0px;
	color: #fff;
	position:absolute;
	top: 0px;
	left:0px;
}

#mapa {
	width: 620px;
	height: 409px;
	float:left;

}

#calidad_nav {
	width: 115px;
	height: 409px;
	float:left;
	margin-left: 13px;
}

#calidad_nav ul {
	font-family: 'Dosis', Arial, serif;
	font-weight: bold;
	font-size: 16px;
	padding: 0px;

}

#calidad_nav ul li {
	-moz-border-radius: 8px; /* Firefox */
	-webkit-border-radius: 8px; /* Google Chrome y Safari */
	border-radius: 8px; /* CSS3 (Opera 10.5, IE 9 y est&aacute;ndar a ser soportado por todos los futuros navegadores) */
	border: 3px solid #ff9000;
	text-align:center;
	margin: 10px 0px;

}

#calidad_nav ul li a {
	text-decoration:none;
	display:block;
	height: 50px;
	line-height: 50px;
			color: #3a3a3a;
}

#calidad_nav ul li a:hover {
	display:block;
	height: 50px;
	line-height: 50px;
	background-color: #ff9000;
				color: #fff;
}

/* ########################## FOOTER ########################## */

#footer {
	width: 100%;
	height: 50px;
	float:left;
}

#legal {
	width: 750px;
	height: 50px;
	line-height: 50px;
	float:left;
}

#legal ul {
	margin: 0 0 0 450px;
}

#legal ul li {
	float:left;
	margin: 0px 5px;
}

#legal ul li a {
	font-size:14px;
	border-bottom: 1px solid #ff9000;
	text-decoration:none;
	color: #000;
}

