@charset "utf-8";
/* CSS Document */
/*


GRIS BASE:	#3a3a3a;
VISTA ALUMNO

Naranja:	#ff9000;

VISTA PADRE

Verde:	#02dc02;

VISTA TUTOR

Azul:	#04b7f9;


*/

/* ########################## MAPA ########################## */
#alumno_mapa {
	width: 70%;
	float: left;
	margin: 0px 10px 0px 40px;
	background-color: #fff;
	-moz-border-radius: 8px; /* Firefox */
	-webkit-border-radius: 8px; /* Google Chrome y Safari */
	border-radius: 8px; /* CSS3 (Opera 10.5, IE 9 y est&aacute;ndar a ser soportado por todos los futuros navegadores) */
	border: 3px solid #ff9000;
	position:relative;
}

#alumno_mapa h2 {
	font-family: 'Dosis', Arial, serif;
	font-weight: 500;
	font-size: 22px;
	width: 30%;
	height: 60px;
	line-height: 60px;
	padding: 0px 30px 0px;
	color: #fff;
	position:absolute;
	top: 0px;
	left:0px;
}

#mapa {
	width: 78%;
	height: 409px;
	float:left;
}

#calidad_nav {
	width: 17%;
		float:left;
		margin: 10px;
}

#calidad_nav ul {
	font-family: 'Dosis', Arial, serif;
	font-weight: bold;
	font-size: 14px;
	padding: 0px;

}

#calidad_nav ul li {
	-moz-border-radius: 8px; /* Firefox */
	-webkit-border-radius: 8px; /* Google Chrome y Safari */
	border-radius: 8px; /* CSS3 (Opera 10.5, IE 9 y est&aacute;ndar a ser soportado por todos los futuros navegadores) */
	border: 3px solid #ff9000;
	text-align:center;
	margin: 10px 0px;

}

#calidad_nav ul li a {
	text-decoration:none;
	display:block;
	height: 50px;
	line-height: 50px;
			color: #3a3a3a;
}

#calidad_nav ul li a:hover {
	display:block;
	height: 50px;
	line-height: 50px;
	background-color: #ff9000;
				color: #fff;
}
