/* 
    Document   : estiloPlantilla
    Created on : 22/10/2013, 02:04:06 PM
    Author     : SATELLITE
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

